<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="metroNodeStatusService"
		class="com.insigma.afc.monitor.service.impl.WZACCMetroNodeStatusServiceImpl">
		<property name="commonDAO">
			<ref bean="commonDAO" />
		</property>
	</bean>
	<!-- 设备监视-设备模块 -->
	<bean id="WZDeviceModuleFactoryImpl"
		class="com.insigma.afc.monitor.service.impl.WZDeviceModuleFactoryImpl">
		<property name="commonDAO">
			<ref bean="commonDAO" />
		</property>
	</bean>
	<!-- 模式相关 |start -->
	<bean name="modeService" class="com.insigma.afc.monitor.service.ModeService">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean>
	<bean name="wzmodeService" class="com.insigma.afc.monitor.service.impl.WZModeServiceImpl">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean>

	<bean name="monitorService" class="com.insigma.afc.monitor.service.impl.WZMonitorServiceImpl">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean>

	<!--事件-->
	<bean name="metroEventService" class="com.insigma.afc.monitor.service.impl.WZMetroEventServiceImpl">
		<property name="commonDAO" ref="commonDAO"/>
	</bean>
</beans>

