<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="rmiCommunicationRegister" class="org.springframework.remoting.rmi.RmiProxyFactoryBean"
		lazy-init="true">
		<property name="serviceUrl"
			value="rmi://${rmiHostIpAddr}:${communicationRegistRmiPort}/CommunicationRegisterService" />
		<property name="serviceInterface"
			value="com.insigma.afc.workbench.rmi.ICommunicationRegister" />
		<property name="lookupStubOnStartup" value="false"></property>
		<property name="refreshStubOnConnectFailure" value="true"></property>
	</bean>

	<bean id="rmiServiceBean" class="org.springframework.remoting.rmi.RmiProxyFactoryBean"
		lazy-init="true">
		<property name="serviceUrl"
			value="rmi://${rmiHostIpAddr}:${commandServiceRmiPort}/CommandService" />
		<property name="serviceInterface"
			value="com.insigma.afc.workbench.rmi.ICommandService" />
		<property name="lookupStubOnStartup" value="false"></property>
		<property name="refreshStubOnConnectFailure" value="true"></property>
	</bean>


	<!-- <bean id="authOperateServiceBean" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" 
		lazy-init="true"> <property name="serviceUrl" value="rmi://${rmiHostIpAddr}:${authorityRmiPort}/authorityOperateService" 
		/> <property name="serviceInterface" value="com.insigma.commons.authority.service.IAuthorityOperateService" 
		/> <property name="lookupStubOnStartup" value="false"></property> <property 
		name="refreshStubOnConnectFailure" value="true"></property> </bean> -->

	<bean id="rmiOptParamServiceBean" class="org.springframework.remoting.rmi.RmiProxyFactoryBean"
		lazy-init="true">
		<property name="serviceUrl"
			value="rmi://${rmiHostIpAddr}:${parameterManagerRmiPort}/WZOptParamManageService" />
		<property name="serviceInterface"
			value="com.insigma.acc.wz.opt.service.IWZOptParamManageService" />
		<property name="lookupStubOnStartup" value="false"></property>
		<property name="refreshStubOnConnectFailure" value="true"></property>
	</bean>
	
	<bean id="rmiQRKeyParamServiceBean" class="org.springframework.remoting.rmi.RmiProxyFactoryBean"
		lazy-init="true">
		<property name="serviceUrl"
			value="rmi://${rmiHostIpAddr}:${qrKeyParamManagerRmiPort}/WZQRKeyParamManageService" />
		<property name="serviceInterface"
			value="com.insigma.acc.wz.qrkey.service.IWZQRKeyParamManageService" />
		<property name="lookupStubOnStartup" value="false"></property>
		<property name="refreshStubOnConnectFailure" value="true"></property>
	</bean>
	

	<bean id="dailyTaskManagerServiceBean" class="org.springframework.remoting.rmi.RmiProxyFactoryBean"
		lazy-init="true">
		<property name="serviceUrl"
			value="rmi://${rmiTaskHostIpAddr}:${dailyClearRmiPort}/DailyTaskManagerService" />
		<property name="serviceInterface"
			value="com.insigma.afc.daily.service.IDaiyTaskManagerService" />
		<property name="lookupStubOnStartup" value="false"></property>
		<property name="refreshStubOnConnectFailure" value="true"></property>
	</bean>

	<bean id="rmiYKTFileOperationServiceBean" class="org.springframework.remoting.rmi.RmiProxyFactoryBean"
		lazy-init="true">
		<property name="serviceUrl"
			value="rmi://${rmiYKTHostIpAddr}:${fileOperationRmiPort}/YKTFileOperationService" />
		<property name="serviceInterface"
			value="com.insigma.afc.wz.daily.service.ykt.IYKTFileOperationService" />
		<property name="lookupStubOnStartup" value="false"></property>
		<property name="refreshStubOnConnectFailure" value="true"></property>
	</bean>
	
	<bean id="rmiQRKeyServiceBean" class="org.springframework.remoting.rmi.RmiProxyFactoryBean"
		lazy-init="true">
		<property name="serviceUrl"
			value="rmi://${rmiSecertIpAddr}:${QRKeyRmiPort}/QRKeyGetService" />
		<property name="serviceInterface"
			value="com.insigma.acc.wz.qrkey.service.IQRKeyGetService" />
		<property name="lookupStubOnStartup" value="false"></property>
		<property name="refreshStubOnConnectFailure" value="true"></property>
	</bean>
	
</beans>

