<AFC version="0">
	<!--应用名称：LC主机、SC主机、LC监控... -->
	<applicationName>${applicationName}</applicationName>
	<NetworkInfo>
		<!--线路号，必须配置 -->
		<lineNo>${lineNo}</lineNo>
		<!--车站号，必须配置，线路级设为0 -->
		<stationNo>${stationNo}</stationNo>
		<!--节点号，SLE级为设备的节点号码，COC,SOC级为终端号码 -->
		<nodeNo>${nodeNo}</nodeNo>
		<!-- 各级节点format -->
		<deviceIdFormat>%08x</deviceIdFormat>
		<stationIdFormat>%02x</stationIdFormat>
		<lineIdFormat>%02x</lineIdFormat>
		<stationlineIdFormat>%04x</stationlineIdFormat>
		<deviceTypeFormat>%02x</deviceTypeFormat>
	</NetworkInfo>


</AFC>