<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- 字典的初始化 -->
	<bean id="dicList" class="com.insigma.commons.dic.loader.XMLDicListProvider">
		<constructor-arg>
			<list>
				<value>package:com/insigma/afc/dic</value>
				<value>package:com/insigma/afc/opt/constant</value>
				<value>package:com/insigma/acc/wz/define</value>
				<value>com.insigma.commons.application.IllegalType</value>
			</list>
		</constructor-arg>
	</bean>
</beans>