<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- 通用持久化服务 -->
	<bean id="commonDAO" class="com.insigma.commons.service.CommonDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<bean id="resourceService" class="com.insigma.afc.service.TsyResourceService">
		<property name="commonDAO">
			<ref bean="commonDAO" />
		</property>
	</bean>


	<bean name="metroNodeService" class="com.insigma.afc.topology.service.MetroNodeService">
		<property name="commonDAO" ref="commonDAO"></property>
		<property name="resourceService" ref="resourceService"></property>
	</bean>
	
</beans>

