<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">


	<!--清分系统配置 Service -->
	<bean name="sysConfigService" class="com.insigma.afc.daily.service.SysConfigService">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean>

	<!--清算调度 Service -->
	<bean id="dailyTaskService" class="com.insigma.afc.daily.service.DailyTaskService">
		<property name="commonDAO" ref="commonDAO" />
	</bean>

	<!-- <bean name="dailyHandleService" class="com.insigma.afc.daily.service.DailyHandleService">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean>-->

	<bean id="clearSettleService" class="com.insigma.acc.clear.adjust.service.ClearSettleService">
		<property name="commonDAO" ref="commonDAO" />
	</bean>

	<bean id="clearManageService"
		class="com.insigma.afc.wz.daily.service.WZClearManageService">
		<property name="commonDAO" ref="commonDAO" />
	</bean>

	<bean id="fishyAdjustmentService"
		class="com.insigma.afc.wz.daily.service.WZFishyAdjustmentServiceImpl">
		<property name="commonDAO" ref="commonDAO" />
	</bean>

	<bean id="dailyTimeService" class="com.insigma.afc.service.DailyTimeService">
		<property name="commonDAO" ref="commonDAO" />
	</bean>
	
	<bean name="dailyFareService"
		class="com.insigma.acc.clear.manager.service.DailyFareService">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean>

	<bean name="dailyProfitService"
		class="com.insigma.acc.clear.manager.service.DailyProfitService">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean>

	<bean name="dailyFeeService" class="com.insigma.acc.clear.manager.service.DailyFeeService">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean>
	<bean name="singleQueryService" class="com.insigma.acc.clear.adjust.service.SingleQueryService">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean> 

	<!--清分比例表 Service -->
	<!-- <bean name="clearAllotListService" class="com.insigma.acc.clean.service.ClearAllotListService">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean> -->
	
	<bean id="traffickerService"
		class="com.insigma.acc.clean.service.TraffickerService">
		<property name="commonDAO" ref="commonDAO"/>
	</bean>
</beans>

