<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- 日志查询 Service -->
	<bean id="logQueryService" class="com.insigma.afc.log.service.impl.LogQueryService">
		<property name="commonDAO" ref="commonDAO" />
	</bean>

	<!-- 数据文件查询 -->
    <bean name="deviceDataFileService" class="com.insigma.acc.wz.ticket.service.DeviceDataFileService">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean>

	<!-- 交易文件查询 -->
	<bean name="transactionQueryService"
		class="com.insigma.acc.wz.ticket.service.TransactionQueryService">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean>
	<!-- 一卡通重新上传下载文件Service -->
	<bean name="dataFileService"
		class="com.insigma.afc.wz.daily.service.DataFileService">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean>
	
	<bean name="xdrSLEFileContentDecoder"
		class="com.insigma.acc.monitor.xdr.tool.decoder.XDRSLEFileContentDecoder">
	</bean>

</beans>

