<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<!-- 一票通黑名单 -->
	<bean id="ticketBLKService" class="com.insigma.acc.wz.ticket.service.TicketBLKServiceImpl">
		<property name="commonDAO" ref="commonDAO" />
	</bean>

	<!-- 票账户 -->
	<bean id="ticketAccountService"
		class="com.insigma.acc.wz.ticket.service.TicketAccountServiceImpl">
		<property name="commonDAO" ref="commonDAO" />
	</bean>

	<!-- 员工票 -->
	<bean id="ticketEmployeeService"
		class="com.insigma.acc.wz.ticket.service.TicketEmployeeServiceImpl">
		<property name="commonDAO" ref="commonDAO" />
	</bean>

	<!-- 车票挂失解挂 -->
	<bean id="ticketLostService" class="com.insigma.acc.wz.ticket.service.TicketLostServiceImpl">
		<property name="commonDAO" ref="commonDAO" />
	</bean>

	<!-- 车票退票退款 -->
	<bean id="ticketRefundService"
		class="com.insigma.acc.wz.ticket.service.TicketRefundServiceImpl">
		<property name="commonDAO" ref="commonDAO" />
	</bean>

	<!-- 车票跟踪与查询 -->
	<bean id="ticketTrackingService"
		class="com.insigma.acc.wz.ticket.service.TicketTrackingServiceImpl">
		<property name="commonDAO" ref="commonDAO" />
	</bean>
	
	<!-- <bean id="ticketDepositService" class="com.insigma.acc.hangzhou.ticket.service.TicketDepositServiceImpl"> 
		<property name="commonDAO" ref="commonDAO"/> </bean> -->


</beans>

