<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="metroNodeStatusService"
		class="com.insigma.acc.wz.monitor.service.WZACCMetroNodeStatusService">
		<property name="commonDAO">
			<ref bean="commonDAO" />
		</property>
	</bean>
	<!-- 设备监视-设备模块 -->
	<bean id="WZDeviceModuleFactoryImpl"
		class="com.insigma.acc.wz.monitor.service.WZDeviceModuleFactoryImpl">
		<property name="commonDAO">
			<ref bean="commonDAO" />
		</property>
	</bean>
	<!-- 模式相关 |start -->
	<bean name="modeService" class="com.insigma.afc.monitor.service.ModeService">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean>
	<bean name="wzmodeService" class="com.insigma.acc.wz.monitor.service.WZModeService">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean>

	<bean name="monitorService" class="com.insigma.acc.wz.monitor.service.WZMonitorService">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean>

	<!-- 命令相关 |start -->
	<bean id="commandFactory" class="com.insigma.acc.wz.monitor.WZACCCommandFactory">
	</bean>

	<bean name="commandLogService" class="com.insigma.afc.monitor.service.CommandLogService">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean>
	<!-- 客流相关 -->
	<bean name="chartService" class="com.insigma.afc.odmonitor.service.ChartService">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean>
	<!-- 断面客流相关 -->
	<bean name="sectionODFlowService"
		class="com.insigma.afc.odmonitor.service.SectionODFlowService">
		<property name="commonDAO" ref="commonDAO">
		</property>
	</bean>
</beans>

