<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="versionQueryService"
		class="com.insigma.afc.parameter.service.VersionQueryServiceImpl">
		<property name="commonDAO" ref="commonDAO" />
		<property name="metroNodeService" ref="metroNodeService"></property>
	</bean>
	
	<!-- <bean id="accDictionaryService" class="com.insigma.acc.wz.service.AccDictionaryService">
        <property name="commonDAO" ref="commonDAO" />
    </bean> -->
    
	<bean id="EODParameterEncoder"
		class="com.insigma.acc.wz.parameter.codec.WZACCParameterEncoder"></bean>

	<bean id="EODParameterDecoder"
		class="com.insigma.acc.wz.parameter.codec.WZACCParameterDecoder"></bean>
		
	<bean name="parameterConfig"
		class="com.insigma.acc.wz.parameter.service.WZACCDefaultParameterConfig"></bean>
		
	<bean name="serverFolderService" class="com.insigma.afc.manager.ServerFolderService"></bean>
	
	<bean id="parameterService" class="com.insigma.acc.wz.parameter.service.WZParameterServiceImpl">
		<property name="commonDAO" ref="commonDAO" />
		<property name="parameterConfig" ref="parameterConfig" />
	</bean>
		<bean id="softManageService" class="com.insigma.acc.wz.soft.service.WZSoftManageService">
			<property name="commonDAO" ref="commonDAO" />
	</bean>
	
	<bean name="publishService"
		class="com.insigma.acc.wz.parameter.service.WZParameterPublish">
		<property name="parameterEncoder" ref="EODParameterEncoder" />
		<property name="parameterDecoder" ref="EODParameterDecoder" />
		<property name="serverFolderService" ref="serverFolderService" />
		<property name="parameterConfig" ref="parameterConfig" />
	</bean>

	
	<bean id="parameterEditorService"
		class="com.insigma.acc.wz.parameter.editor.service.WZManagerEditorService">
		<property name="parameterService" ref="parameterService"></property>
		<property name="parameterConfig" ref="parameterConfig"></property>
		<property name="logService">
			<bean id="eodSyncLogService" class="com.insigma.afc.log.service.impl.SyncLogService">
				<property name="commonDAO" ref="commonDAO" />
				<property name="module" value="1002" />
				<property name="lineId" value="0" />
				<property name="stationId" value="0" />
				<property name="nodeId" value="0" />
				<property name="ipAddress" value="127.0.0.1" />
			</bean>
		</property>
	</bean>
	<bean name="filePathProvider"
		class="com.insigma.acc.wz.parameter.service.WZParameterFilePathProvider"></bean>
		
	<bean id="qrKeyParameterService"  class="com.insigma.acc.wz.qrkey.service.WZQRKeyParamService">
        <property name="commonDAO" ref="commonDAO" />
        <property name="parameterConfig" ref="parameterConfig" />
    </bean>

</beans>
