<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <!-- 用户管理 Service  -->

	<bean id="userService" class="com.insigma.commons.authority.service.UserService">
		<property name="commonDAO">
			<ref bean="commonDAO" />
		</property>
	</bean>
    
    <bean id="syncLogService" class="com.insigma.afc.log.service.impl.SyncLogService" scope="prototype">
    	<property name="commonDAO" ref="commonDAO" />
		<property name="module" value="1301" />
		<property name="lineId" value="0" />
		<property name="stationId" value="0" />
		<property name="nodeId" value="0" />
		<property name="ipAddress" value="127.0.0.1" />
	</bean>
	   
</beans>

